---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import mmhomepage from "../../assets/MMHomepage4.png";
import mmsearch from "../../assets/MMSearch2.png";
import mmuploadprocess from "../../assets/MMUploadProcess.png";
import mmlogin from "../../assets/MMLogin.png";
import mmviewimage from "../../assets/MMViewimage2.png";
---

<Layout title="Mongo Museum -- Gabriel Yap">
    <main class="flex flex-col mt-12 border-0 border-blue-500">
        <div class = "flex flex-col">
            <h1 class="flex justify-center text-6xl">Mongo Museum</h1>
            <hr
                class="w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700"
            />
            <a
                class="flex justify-center underline text-blue-700 dark:text-blue-500"
                href="https://65527fde16e2c00008e6f7c2--calm-taiyaki-5cd409.netlify.app/"
                >Live Link</a
            >
            <h2 class="flex justify-center mx-auto w-full md:w-1/2 font-light mt-5">
                A fullstack image sharing and hosting app I made using the MERN
                stack, Tailwind, and Next.js. The app is complete with user
                authentication/authorization, comments, a label-based search
                function, a custom backend server to handle CRUD operations, and
                more. Live link may be slow due to the server being hosted via a free service, try uploading 
                an image first.
            </h2>

            <div class="flex justify-center mx-auto w-full md:w-3/4 font-light my-10">
                <Image
                    src={mmhomepage}
                    alt="mmhomepage"
                    width={1525}
                    height={884}
                    loading="eager"
                    quality={100}
                />
            </div>
        </div>
        <div class="my-12">
            <h1 class="flex justify-center text-4xl my-4">Features</h1>
            <hr
                class="w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700"
            />
        </div>
        <section
            class="grid md:grid-cols-2 auto-rows-max items-start justify-center pt-12 gap-8 gap-y-16"
        >
            <div class="flex flex-col justify-center mx-auto font-light">
                <Image
                    src={mmuploadprocess}
                    alt="mmuploadprocess"
                    width={1525}
                    height={884}
                    loading="eager"
                    quality={100}
                />
                <div class="flex flex-col w-full">
                    <div class="text-xl font-light max-w-md:max-w-full">
                        <div class="font-bold">Image Uploading</div>
                         Users can upload an image either by drag and drop or
                        file select. They are taken to a loading screen, then
                        taken to the gallery, where their image and sharable
                        link are displayed.
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center mx-auto font-light">
                <Image
                    src={mmsearch}
                    alt="mmsearch"
                    width={1525}
                    height={884}
                    loading="eager"
                    quality={100}
                />
                <div class="flex flex-col w-full">
                    <div class="text-xl font-light">
                        <div class="font-bold">Prefix Search Function</div>
                         Users can quickly find specific photos by using the
                        prefix search function. For example, photos labelled
                        "trees" will still show up even when the search
                        query is only "tree".
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center mx-auto font-light">
                <Image
                    src={mmlogin}
                    alt="mmlogin"
                    width={1525}
                    height={884}
                    loading="eager"
                    quality={100}
                />
                <div class="flex flex-col w-full">
                    <div class="text-xl font-light">
                        <div class="font-bold">User Register/Login Screens</div>
                         I used Passport.js to implement a local strategy for
                        user registration and authentication/authorization,
                        storing user information on a MongoDB Atlas cloudbase.
                        The browser tracks the currently signed in user through
                        local storage.
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center mx-auto font-light">
                <div class="">
                    <Image
                        src={mmviewimage}
                        alt="mmviewimage"
                        width={1525}
                        height={884}
                        loading="eager"
                        quality={100}
                    />
                </div>

                <div class="flex flex-col w-full">
                    <div class="text-xl font-light">
                        <div class="font-bold">
                            CRUD Operations for Image and Comments
                        </div>
                         The user can click on an image from the gallery, which
                        routes them to a new page that shows the label, author,
                        and comments. Anyone can copy the image link and post a
                        comment, but only the author can edit the label or
                        delete the image. Users can also delete their own
                        comments. I used Mongoose and Express to create User and
                        Image schemas, and used Passport to authorize a user's
                        actions.
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
</style>
